.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__name {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  color: #10375c;
  margin-right: calc(185px - 81px);
}

.header__list {
  display: flex;
  justify-content: center;
}

.header__item {
  margin: 0 40px 0 0;
  color: #222831;
  transition: all 0.3s linear;
  cursor: pointer;
  opacity: 1;
  font-family: "Lato", serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
}

.header__item:last-of-type {
  margin: 0;
}

.header__item:hover {
  opacity: 0.6;
}

.header__item_active {
  color: #ff5722;
}

.header__button {
  color: #ff5722;
  font-family: "Lato", serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  border: none;
  background-color: transparent;
  padding: 12px 24px;
  transition: all 0.3s linear;
}

.header__button_type_rectangle {
  color: white;
  background-color: #ff5722;
}

.header__button:hover {
  opacity: 0.6;
}
